* {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-bottom: 0;
}

body{
    align-items: center;
}
form {
    border: 1px solid black;
    width: 50%;
    height: 300px;
}

.container {
    display: flexbox;
    
}